<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
   <body>

        <div class="banner">

            <div class="banner-email">
                <p id="contact-email"class="contact"><img class="contact-logo" src="static/images/email-logor.png"> Joie.Harvey1@gmail.com</p>

            </div>

            <div class="banner-number">
                <p id="contact-num" class="contact"><img class="num-logo" src="static/images/whatsapp-logor.png">+1 (708)-446-8652</p>

            </div>

            
            
           
        

        </div>

        

        
       
    
        <div class="navigation-buttons">

            <img class="brand-logo2" src="static/images/brand-logo.png">

            <div class="button-con">
                <a class="nav-links" href="http://127.0.0.1:5004/portfolio_homepage">
                    <button class="nav-button" >Home</button>
                </a>
                <a class="nav-links" href="http://127.0.0.1:5004/aboutme">
                    <button class="nav-button" >About Me</button>
                </a>
                <a class="nav-links" href="http://127.0.0.1:5004/skills">
                    <button class="nav-button" >Skills</button>
                </a>
                <a class="nav-links" href="http://127.0.0.1:5004/Projects">
                    <button class="nav-button" >Projects</button>
                </a>
                <a class="nav-links" href="http://127.0.0.1:5004/contact/info">
                    <button  class="nav-button">Contact</button>
                </a>
        
    

            </div>

            
           
        </div>

        <div class="content1">
          
           <div class="hero-section">
           <div class="title-box">
            
            <h1>Security-Driven Development </h1>
            <p class="title-text">Hello, I'm Joie Harvey a Full-Stack Developer with a passion for building protected and reliable user interfaces. </p>
            <a class="collab-link" href="http://127.0.0.1:5004/Projects"><button class="view-projects">View My Projects</button></a>
            
           </div>
           <img class="code-pic" src="static/images/computer-pic2.png">
           </div>

        </div>
        
    
    

   </body>
</html>