<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/styles.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
       
        <div class="navigation-buttons1">

            <img class="brand-logo" src="static/images/brand-logo.png">


            <div class="button-con1">
                <a class="nav-links" href="http://127.0.0.1:5004/portfolio_homepage">
                    <button class="nav-button" >Home</button>
                </a>
                <a class="nav-links" href="http://127.0.0.1:5004/aboutme">
                    <button class="nav-button" >About Me</button>
                </a>
                <a class="nav-links" href="http://127.0.0.1:5004/skills">
                    <button class="nav-button" >Skills</button>
                </a>
                <a class="nav-links" href="http://127.0.0.1:5004/Projects">
                    <button class="nav-button" >Projects</button>
                </a>
                <a class="nav-links" href="http://127.0.0.1:5004/contact/info">
                    <button  class="nav-button">Contact</button>
                </a>
        
    

            </div>

            
           
        </div>
        <div class="title-con">

            <h2 class="aboutme-title">Skillset</h2>
           

        </div>
            
            <div class="content">
                
                <div id="paper" class="paper">
                    
                    <div class="t-skills">
                        <ul>
                            <strong class="skills-title">Technical Skills</strong>
                            <li >Python - Used in daily projects, including web game design and developing web backend logic and security features.</li>
                            <li >C - Understand the fundamentals of C, including concepts like node pointers, memory allocation (malloc and realloc), and linked lists. While I can apply these concepts in practice, I have room to improve, and with more practice my proficiency will increase.</li>
                            <li >Java - Familiar with Java due to my experience with Python (object-oriented programming) and C (syntax). With more hands-on practice, I expect to improve. </li>
                            <li >HTML - Used for front-end designing</li>
                            <li >Javascript - Used for adding interactivity and front-end logic to websites, currently focusing on improving with regular hands-on practice.</li>
                            <li >SQLite - Used for storing and managing user and API data in web applications.</li>
                            <li >SQLAlchemy - Used for safely accessing data within Flask applications to avoid direct database queries and insecure database interactions.</li>
                            <li >Flask - Used for managing HTTP requests and reponses for web applications.</li>
                            <li >Tensorflow - Used for developing models that handle complex software logic. I am currently focusing on improving my skills through continuous exposure and personal projects. </li>
                            <li >Burpsuite - Used for performing penetration tests and analyzing web applications to detect vulnerabilities in GET and POST URLs, and input fields</li>
                            <li >Kali Linux - Used for scanning and performing penetration testing on personal web applications to detect vulnerabilities. </li>
                            
                        </ul>
    

                    </div>

                    <div class="post-it">
                        <ul>
                            <strong class='skills-title'>Soft Skills</strong> 
                            <li>Attention to detail</li> 
                            <li>Collaboration(able to work in teams to reach a common goal)</li> 
                            <li>Communication(able to share ideas and feedback effectively) </li> 
                            <li>Time Management(able to prioritize time for meeting deadlines)</li>
                        </ul>

                    </div>
                    
                    
    
                </div>
               
                
    
            </div>
    
        </div>
        <script>
            function change_content(){
                document.getElementById("paper").innerHTML = "<ul><strong class='skills-title'>Soft Skills</strong> <li>Attention to detail</li> <li>Collaboration(able to work in teams to reach a common goal)</li> <li>Communication(able to share ideas and feedback effectively) </li> <li>Time Management(able to prioritize time for meeting deadlines)</li></ul>"
            }

        </script>


           
        
                
              
                    


          
                

            
    </body>

</html>